In [ ]:
import pandas as pd
import numpy as np  

transaction = []

with open("mini.csv") as f:
    data = f.read().split('\n')
    line_count = 0
    for row in data:
      if(len(row) > 0):
        line_count += 1
        transaction.append((line_count,list(filter(None, row.split(',')))))
print(transaction)

[(1, ['A', 'B', 'D', 'E']), (2, ['B', 'C', 'E']), (3, ['A', 'B', 'D', 'E']), (4, ['A', 'B', 'C', 'E']), (5, ['A', 'B', 'C', 'D', 'E']), (6, ['B', 'C', 'D'])]

In [ ]:
def t(l,key=''):
  items = {}
  count = 0
  for i in l:
    count += 1
    for j in i[1]:
      if j not in items:
        items[j] = set()
      items[j].add(count)
  if key is not '':
    return dict(sorted(items.items()))[key]
  return dict(sorted(items.items()))

t(transaction)

{'A': {1, 3, 4, 5},
 'B': {1, 2, 3, 4, 5, 6},
 'C': {2, 4, 5, 6},
 'D': {1, 3, 5, 6},
 'E': {1, 2, 3, 4, 5}}

In [ ]:
def ECLAT(P, minSup,F):
  for i in range(0,len(P)):
   F.append((P[i][0],P[i][1]))
   Pa = []
   for j in range(0,len(P)):
    if j > i:
      Xab = "".join(sorted(set(P[i][0] + P[j][0])))
      # print(P[i][1],(P[j][1]))
      Tab = set(P[i][1]).intersection((P[j][1]))
      if(len(Tab) >= minSup):
        Pa.append((Xab,Tab))
   if(len(Pa) > 0):
      ECLAT(Pa, minSup,F)
  return F

In [ ]:
items = []
for i,j in transaction:
  for k in j:
    items.append(k)
items = sorted(set(items))

P = []
F = []
minSup = 3
for i in t(transaction):
  if(len(t(transaction)[i]) >= minSup):
    P.append((i,t(transaction)[i]))
print(P)

[('A', {1, 3, 4, 5}), ('B', {1, 2, 3, 4, 5, 6}), ('C', {2, 4, 5, 6}), ('D', {1, 3, 5, 6}), ('E', {1, 2, 3, 4, 5})]

In [ ]:
ECLAT(P,minSup,F)

[('A', {1, 3, 4, 5}),
 ('AB', {1, 3, 4, 5}),
 ('ABD', {1, 3, 5}),
 ('ABDE', {1, 3, 5}),
 ('ABE', {1, 3, 4, 5}),
 ('AD', {1, 3, 5}),
 ('ADE', {1, 3, 5}),
 ('AE', {1, 3, 4, 5}),
 ('B', {1, 2, 3, 4, 5, 6}),
 ('BC', {2, 4, 5, 6}),
 ('BCE', {2, 4, 5}),
 ('BD', {1, 3, 5, 6}),
 ('BDE', {1, 3, 5}),
 ('BE', {1, 2, 3, 4, 5}),
 ('C', {2, 4, 5, 6}),
 ('CE', {2, 4, 5}),
 ('D', {1, 3, 5, 6}),
 ('DE', {1, 3, 5}),
 ('E', {1, 2, 3, 4, 5})]